.Mui-selected {
  background-color: #00c9c8 !important;
}

.MuiButton-root:hover {
  background-color: transparent !important;
}

.MuiPickersDay-root:hover {
  background-color: #00c9c93f !important;
}

.MuiButtonBase-root {
  color: #000 !important;
  font-family: "Montserrat", sans-serif !important;
  text-transform: none !important;
  font-weight: unset !important;
  font-size: unset !important;
  line-height: unset !important;
  letter-spacing: unset !important;
}
